@model DataLayer.ViewModels.SubmitOrderViewModel
@{ GladcherryShopping.Models.ApplicationDbContext content = new GladcherryShopping.Models.ApplicationDbContext();}
@{
    ViewBag.Title = "تکمیل سفارش";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using DataLayer.Models;
@using Microsoft.AspNet.Identity;
@using System.Web.Mvc;
@using System.Data.Entity;
@section Metas{
    <meta name="description" content="فروشگاه اینترنتی موتورتو فعال در زمینه فروش انواع قطعات مصرفی خودرو شامل فیلتر روغن ، فیلتر هوا ، فیلتر بنزین ، فیلتر کابین ، روغن موتور و روانکار و غیره است .">
    <meta name="Keywords" content="قطعات مصرفی خودرو">
    <meta property="og:title" content="موتورتو ، فروش آنلاین قطعات خودرو | Motorbaz" />
    <meta property="og:url" content="http://www.motoreto.ir/" />
    <meta property="og:image" content="http://www.motoreto.ir/images/sadr_logo.png" />
    <meta name="twitter:image" content="موتورتو ، فروش آنلاین قطعات خودرو | Motorbaz">
    <meta name="robots" content="noindex">

}

@section Styles{
    <style>
        .col-md-4 {
            -webkit-box-shadow: 0 0 10px 0 rgba(47,48,51,.2);
            padding: 30px;
            margin-bottom: 40px;
        }

        .col-12:first-child {
            -webkit-box-shadow: 0 0 10px 0 rgba(47,48,51,.2);
            padding: 30px;
            margin-bottom: 40px;
        }

        p, a {
            line-height: 35px;
        }
    </style>
}

<div class="container blog_header">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h1>تکمیل سفارش</h1>
            </div>
        </div>
    </div>
</div>
@if (Model.basket.Count() > 0)
{
    string UserId = User.Identity.GetUserId();
    var user = content.Users.Where(current => current.Id == UserId).FirstOrDefault();
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">آدرس تحویل سفارش</h2>
                        <p style="color:#62666d"><i class="fa fa-user"></i> @user.FirstName @user.LastName</p><br />
                        @if (!string.IsNullOrEmpty(user.AddressLine))
                        {
                            <p>@user.AddressLine</p>
                            <a href="/User/Profile/Edit">(تعیین یا ویرایش آدرس)</a>
                        }
                        else
                        {
                            <p>آدرس تعیین نشده</p>
                            <a href="/User/Profile/Edit">(تعیین یا ویرایش آدرس)</a>
                        }
                    </div>
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">سبد شما</h2>
                        @foreach (var item in Model.Products)
                        {
                            if (item != null)
                            {
                                <div class="thubmnail-recent">
                                    @if (item.SiteFirstImage != null)
                                    {
                                        <img src="@item.SiteFirstImage" alt="@item.PersianName" title="@item.PersianName" class="recent-thumb">
                                    }
                                    else
                                    {
                                        <img src="~/images/hand-shake.png" alt="@item.PersianName" title="@item.PersianName" class="recent-thumb">
                                    }
                                    <h2><a href="/Product/Details/@item.Id">@item.PersianName</a></h2>
                                    <div class="product-sidebar-price">
                                        @if (item.DiscountPercent > 0)
                                        {
                                            int pricewithdiscount = item.UnitPrice - (item.UnitPrice) * (item.DiscountPercent) / 100;

                                            <ins>@string.Format("{0:n0}", pricewithdiscount) ریال</ins>
                                            <del>@string.Format("{0:n0}", item.UnitPrice)</del>
                                        }
                                        else
                                        {
                                            <ins>@string.Format("{0:n0}", item.UnitPrice) ریال</ins>
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="woocommerce">
                            <form id="myform" enctype="multipart/form-data" action="/Home/SubmitOrder" class="checkout" method="post" name="checkout">
                                @Html.AntiForgeryToken()
                                <div id="customer_details" class="col12-set">

                                    <div class="col-12">
                                        <div class="woocommerce-shipping-fields">
                                            <h3 id="ship-to-different-address">
                                                <label class="checkbox" for="ship-to-different-address-checkbox">لطفا اطلاعات خود را تکمیل نمایید :</label>
                                            </h3><br />
                                            <div class="shipping_address" style="display: block;">

                                                @*<p id="shipping_first_name_field" class="form-row form-row-first validate-required">
                                                        <label class="" for="shipping_first_name">
                                                            نام و نام خانوادگی گیرنده <abbr title="required" class="required">*</abbr>
                                                        </label>
                                                        @Html.TextBoxFor(model => model.order.FullName, new { @class = "input-text", @id = "FullName", @placeholder = "نام و نام خانوادگی", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.order.FullName, "", new { @class = "text-danger" })
                                                    </p>*@

                                                @*<p class="form-row form-row-last validate-required">
                                                        <label class="" for="shipping_last_name">
                                                            شماره موبایل گیرنده <abbr title="required" class="required">*</abbr>
                                                        </label>
                                                        @Html.TextBoxFor(model => model.order.Phone, new { @class = "input-text", @id = "Phone", @placeholder = "شماره موبایل فعال", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.order.Phone, "", new { @class = "text-danger" })
                                                    </p>*@
                                                <div class="clear"></div>

                                                @*<p class="form-row form-row-wide">
                                                        <label>استان <abbr title="required" class="required">*</abbr></label>
                                                        @Html.DropDownList("StateId", null, "استان", new { @class = "form-control", Name = "Order.StateId" })
                                                    </p>*@

                                                @{
                                                    var x = Request.QueryString["PaymentType"];
                                                    var y = Request.QueryString["Type"];
                                                }

                                                <input type="hidden" name="Order.PaymentType" value="@x" />
                                                <input type="hidden" name="Order.Type" value="@y" />

                                                @*<p class="form-row form-row-wide">
                                                        <label>شهرستان <abbr title="required" class="required">*</abbr></label>
                                                        <select id="CityId" name="Order.CityId" class="form-control" required>
                                                            <option selected>شهرستان</option>
                                                        </select>
                                                    </p>*@

                                                @if (string.IsNullOrEmpty(user.AddressLine))
                                                {
                                                    <p class="form-row form-row-wide">
                                                        <label class="" for="shipping_company">آدرس کامل جهت ارسال <abbr title="required" class="required">(اجباری)</abbr></label>
                                                        @Html.TextBoxFor(model => model.order.UserAddress, new { @class = "input-text address", @id = "UserAddress", @placeholder = "آدرس کامل جهت ارسال", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.order.UserAddress, "", new { @class = "text-danger" })
                                                    </p>
                                                }

                                                <p class="form-row form-row-wide">
                                                    <label class="input-text" for="shipping_company"> کد تخفیف <abbr title="required" class="required">(اختیاری)</abbr></label>
                                                    <input type="text" class="" name="Order.Discount" placeholder="تخفیف بر روی مبلغ نهایی اعمال خواهد شد" />
                                                </p>
                                            </div>

                                            <p id="order_comments_field" class="form-row notes">
                                                <label class="" for="order_comments"> توضیحات <abbr title="required" class="required">(اختیاری)</abbr></label>
                                                @Html.TextAreaFor(model => model.order.UserOrderDescription, new { @class = "input-text address", @id = "UserOrderDescription", @placeholder = "اگر توضیحاتی در مورد سفارش خود دارید وارد نمایید . . ." })
                                                @Html.ValidationMessageFor(model => model.order.UserOrderDescription, "", new { @class = "text-danger" })
                                            </p>

                                        </div>

                                    </div>

                                </div>

                                @{
                                    var PaymentType = Request.QueryString["PaymentType"];
                                    var Type = Request.QueryString["Type"];
                                }

                                <input type="hidden" value="@PaymentType" name="PaymentType" />
                                <input type="hidden" value="@Type" name="Type" />

                                <h3 id="order_review_heading">مبلغ نهایی قابل پرداخت</h3>
                                <br />
                                <div id="order_review" style="position: relative;">
                                    <table class="shop_table">
                                        <thead>
                                            <tr>
                                                <th class="product-name">هزینه سفارش</th>
                                                <th class="product-name">هزینه حمل</th>
                                                <th class="product-name">هزینه ارسال سفارشی</th>
                                                <th class="product-name">اعتبار شما</th>
                                                <th class="product-total">جمع کل</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="RMNT_item">
                                                <td class="product-name">
                                                    @{
                                                        double discountPrice = 0;
                                                        if (Model.discount.Count() > 0)
                                                        {
                                                            discountPrice = Model.FinalPrice - Model.FinalPrice * (Model.discount.FirstOrDefault().Percent) / 100;
                                                        }
                                                    }
                                                    @if (Model.discount.Count() > 0)
                                                    {
                                                        <strong class="product-quantity">@string.Format("{0:n0}", discountPrice) ریال با تخفیف</strong>
                                                    }
                                                    else
                                                    {
                                                        <strong class="product-quantity">@string.Format("{0:n0}", Model.FinalPrice) ریال</strong>
                                                    }
                                                </td>
                                                @{
                                                    var application = content.Applications.FirstOrDefault();
                                                }
                                                <td>
                                                    @if (application != null)
                                                    {
                                                        if (application.Transferring > 0)
                                                        {
                                                            <span>@string.Format("{0:n0}", application.Transferring) ریال</span>
                                                        }
                                                        else
                                                        {
                                                            <span>0 ریال</span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <span>0 ریال</span>
                                                    }
                                                </td>
                                                <td>
                                                    @if (Convert.ToInt32(Type) == 2)
                                                    {
                                                        if (application != null)
                                                        {
                                                            if (application.SpecialTransport > 0)
                                                            {
                                                                <span>@string.Format("{0:n0}", application.SpecialTransport) ریال</span>
                                                            }
                                                            else
                                                            {
                                                                <span>0 ریال</span>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <span>0 ریال</span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <span>0 ریال</span>
                                                    }
                                                </td>
                                                <td>
                                                    <span class="amount">@string.Format("{0:n0}", user.Credit) ریال</span>
                                                </td>
                                                <td class="product-total">
                                                    @if (Convert.ToInt32(Type) == 2)
                                                    {
                                                        <span class="amount">@string.Format("{0:n0}", (Model.FinalPrice + application.Transferring + application.SpecialTransport) - (user.Credit)) ریال</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="amount">@string.Format("{0:n0}", (Model.FinalPrice + application.Transferring) - (user.Credit)) ریال</span>
                                                    }
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="container">
                                        <div class="col-md-12 text-right" style="display:inline-flex;">
                                            &nbsp;&nbsp;
                                            <input oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('لطفا این گزینه را تیک بزنید .')" type="checkbox" style="width:30px;" required />
                                            <label style="margin-right: 10px;text-align:justify;">با فشردن دکمه ثبت سفارش تمامی <a href="/terms">قوانین و مقررات</a> سامانه را میپذیرم .</label>
                                        </div>
                                    </div><br />
                                    @if (Convert.ToInt32(PaymentType) == 1)
                                    {
                                        <div id="payment">
                                            <ul class="payment_methods methods">
                                                <li class="payment_method_bacs">
                                                    <input type="radio" data-order_button_text="" checked="checked" value="bacs" name="payment_method" class="input-radio" id="payment_method_bacs">
                                                    <label for="payment_method_bacs">پرداخت درب منزل فقط شهر تهران</label>
                                                    @*<div class="payment_box payment_method_bacs">
                                                        <p>شما تنها ملزم به پرداخت هزینه حمل به صورت آنلاین هستید و مابقی هزینه را در محل پرداخت مینمایید</p>
                                                    </div>*@
                                                </li>
                                            </ul>
                                            <div class="form-row place-order">
                                                <input type="submit" value="پرداخت هزینه حمل" id="place_order" name="woocommerce_checkout_place_order" class="button alt">
                                                <a class="preOrder" href="/Home/Cart">سبد خرید</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    }
                                    else if (Convert.ToInt32(PaymentType) == 2)
                                    {
                                        <div id="payment">
                                            <ul class="payment_methods methods">
                                                <li class="payment_method_bacs">
                                                    <input type="radio" data-order_button_text="" checked="checked" value="bacs" name="payment_method" class="input-radio" id="payment_method_bacs">
                                                    <label for="payment_method_bacs">پرداخت آنلاین</label>
                                                    <div class="payment_box payment_method_bacs">
                                                        <p>پرداخت شما شامل هزینه سفارش و حمل از طریق درگاه اینترنتی بانک های عضو شبکه شتاب انجام خواهد شد .</p>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="form-row place-order">
                                                <input type="submit" value="پرداخت کل فاکتور" id="place_order" name="woocommerce_checkout_place_order" class="button alt">
                                                <a class="preOrder" href="/Home/Cart">سبد خرید</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    }
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                                    }

                                                    else
                                                    {
                                                        <div class="forbidden">
                                                            <p>صفحه ی ممنوعه</p>
                                                            <img src="~/images/cross.png" />
                                                        </div>
                                                    }


@if (TempData["Error"] != null)
{
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" style="margin-top:80px">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">وضعیت سفارش</h4>
                </div>
                <div class="modal-body" style="text-align:center;direction:rtl;">
                    <p class="text-danger">@TempData["Error"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">ویرایش اطلاعات</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#myModal").modal();
        });
    </script>
    <script>
        $('#myform').submit(function () {
            if (document.getElementById("testName").checked) {
                document.getElementById('testNameHidden').disabled = true;
            }
        });
    </script>
    <script>
        $("#StateId").on("change", function () {
            $.ajax({
                url: "@Url.Action("GetCity")",
                contentType: "application/json; charset=utf-8",
                data: { stateId: $("#StateId").val() },
                dataType: "json",
                type: "GET",
                success: function (data) {
                    var option = "";
                    $.each(data, function (i, val) {
                        option += '<option value="' + val.id + '">' + val.name + '</option>';
                    });
                    $("#CityId").html(option);
                },
                error: function (jqhxr, statusText, error) { alert("استان نمیتواند خالی باشد ."); }
            });
        });
    </script>
}

